<!DOCTYPE html>
<html>
  <head>
    <title>EmailScheduler</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div>
      <%= link_to 'home', root_path %>
      <% if user_signed_in? %>
        <%= link_to 'logout', destroy_user_session_path, method: :delete %>
      <% elsif admin_signed_in? %>
        <%= link_to 'logout', destroy_admin_session_path, method: :delete %>
      <% else %>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
